#hatter{
    background-color: #FBEFDB;
}
#szoveg{
 
text-align: left;

    
}
#szoveg2{
    text-align: center;
}
#szoveg3{
text-align: center;
}
#szoveg4{
    
    text-align: center;
}
#a{
    text-align: right;
}
#aaa{
    text-align: right;
}